{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-decorators-legacy",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true,
      "helpers": false
    }],
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}